@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
	  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
	  @apply font-serif leading-snug bg-white text-black dark:bg-slate-900 dark:text-white;
	}
  
	a:hover :not(img),
	label.margin-toggle:hover {
	  @apply bg-red-100 rounded-sm dark:bg-slate-600;
	}
  
	.prose figcaption > p {
	  @apply text-center italic text-base block my-0 mx-3;
	}
  
	.prose figure :where(img, figcaption) {
	  @apply my-4 mx-0;
	}
  
	.prose img {
	  @apply shadow-md rounded w-full;
	}
  
	#footnote-label {
	  @apply hidden;
	}
  
	section.footnotes {
	  @apply text-base font-sans mx-0 mt-8;
	  @apply before:content-['•••'] before:text-xl before:block before:text-center before:text-red-800 before:dark:text-red-500;
	}
  
	.katex {
	  @apply prose-xl;
	}
  
	section.footnotes .katex {
	  @apply prose-base;
	}
  
	article {
	  @apply prose prose-lg md:prose-xl prose-headings:font-headline
	  dark:prose-invert prose-a:underline prose-a:decoration-red-800 dark:prose-a:decoration-red-500
	  prose-a:decoration-wavy prose-a:decoration-1 prose-a:underline-offset-[5px]
	  hover:prose-a:bg-red-100 hover:dark:prose-a:bg-slate-600 hover:prose-a:rounded-sm;
	}
  
	.prose blockquote > p {
	  @apply before:content-none after:content-none;
	}
  }
  