---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';
import TagList from '@/components/TagList.astro';
import Analytics from '@/components/Analytics.astro';

export type Props = CollectionEntry<'blog'>;

export function formatDate(date: Date, showTime: boolean = false) {
	const options: Intl.DateTimeFormatOptions = {
		year: 'numeric',
		month: 'long',
		day: 'numeric',
		hour: showTime ? '2-digit' : undefined,
		minute: showTime ? '2-digit' : undefined,
	};
	return date.toLocaleDateString('en-US', options);
}

export async function getStaticPaths() {
	const posts = await getCollection('blog', ({ data }) => {
		return data.draft !== true;
	});
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

const post = Astro.props;
const { title, written, updated, tags } = post.data;
const { Content } = await post.render();
---

<style lang='scss' is:global>
	code {
		@apply before:content-none after:content-none;
	}

	section.footnotes {
		@apply font-outer prose-base md:prose-lg mx-0 mt-8
	    before:content-['•••'] before:text-xl before:block before:text-center
		before:text-red-800 before:dark:text-red-500;

		.katex {
			@apply prose-lg;
		}
	}

	#footnote-label {
		@apply hidden;
	}

	.katex {
		@apply prose-xl;
	}
</style>

<Layout title={title} page='Post'>
	<div class='mx-0 my-8'>
		<h1 class='md:text-3xl text-2xl font-headline font-bold'>
			{title}
		</h1>
		<div
			class='border-t border-dashed py-2 px-0 border-red-800 dark:border-red-500 mx-0 mt-2 mb-0 font-sans text-base uppercase'
		>
			<span class='inline-grid grid-cols-1'>
				<span>
					Written: {formatDate(written)}
				</span>
				{updated && updated !== written && <span>UPDATED: {formatDate(updated, true)}</span>}
			</span>
		</div>
		<div class='mb-4 text-lg md:text-xl'>
			<TagList tags={tags.map((tag) => ({ name: tag }))} />
		</div>
	</div>
	<article role='article'>
		<Content />
	</article>
	<Analytics />
</Layout>
