---
import Layout from '@/layouts/Layout.astro';
---

<Layout title='Simple Barebones Astro + Tailwind Starter Template'>
	<main class='flex w-full justify-center text-center'>
		<h3 class='text-white'>Bare Bones Astro + Tailwind Starter</h3>
	</main>
</Layout>

<style></style>
