---
interface Props {
	kudosIcon?: string;
}

const { kudosIcon = 'heart' } = Astro.props;
---

<style>
	button {
		@apply font-sans text-lg md:text-xl rounded-md py-1 px-2 hover:bg-red-100 hover:dark:bg-slate-600;
	}
</style>

<style is:global>
	.did_select {
		@apply opacity-50;
	}

	.did_select + .kudos-icon {
		@apply opacity-50 fill-current;
	}
</style>

<ul class='reply-buttons mt-16 p-0 list-none'>
	<li class='inline mr-2'>
		<astro-kudos data-kudos={kudosIcon}>
			<button class='flex flex-row items-center tinylytics_kudos'>
				<i class='kudos-icon' data-lucide={kudosIcon}></i>
			</button>
		</astro-kudos>
	</li>
</ul>

<script>
	import { createIcons, icons } from 'lucide';

	class AstroKudos extends HTMLElement {
		constructor() {
			super();

			// Read the data attribute.
			const kudosIcon = this.dataset.kudos;

			// Load the external script.
			const script = document.createElement('script');
			script.type = 'text/javascript';
			script.defer = true;
			script.src = 'https://tinylytics.app/embed/rmUzaKmqQxZxaED2xrNP.js?kudos=custom';

			// Append the script to the body.
			document.body.appendChild(script);

			// Functions for the MutationObserver
			const insertCustomIcon = (button: HTMLButtonElement): void => {
				// Create the icon element if it doesn't exist
				if (!button.querySelector('.kudos-icon')) {
					const icon = document.createElement('i');
					icon.className = 'kudos-icon';
					icon.classList.add('ml-1');
					icon.dataset.lucide = kudosIcon;
					button.insertAdjacentElement('beforeend', icon);
					createIcons({ icons });
				}
			};

			const createObserver = (targetElement: HTMLButtonElement): void => {
				const observer = new MutationObserver((mutations: MutationRecord[]) => {
					mutations.forEach((mutation: MutationRecord) => {
						if (mutation.type === 'attributes' && mutation.attributeName === 'class') {
							if (targetElement.classList.contains('did_select')) {
								insertCustomIcon(targetElement);
								targetElement.style.cursor = 'not-allowed';
								targetElement.style.pointerEvents = 'none';
							}
						}
					});
				});

				observer.observe(targetElement, { attributes: true });
			};

			// Observer for the button
			const button = this.querySelector('button');
			if (button) {
				createObserver(button);
			}
		}
	}

	customElements.define('astro-kudos', AstroKudos);

	createIcons({ icons });
</script>
