<ul class='reply-buttons mt-16 p-0 list-none'>
	<li class='inline mr-2'><button class='tinylytics_kudos'>Kudos</button></li>
</ul>

<style>
	button {
		@apply font-sans text-lg md:text-xl rounded-md py-1 px-2 hover:bg-red-100 hover:dark:bg-slate-600;
	}

	.did_select {
		@apply opacity-50 cursor-not-allowed hover:bg-inherit;
	}
</style>
