---
interface Props {
	enableAnalytics?: boolean;
}

const { enableAnalytics = false } = Astro.props;

const today = new Date();
---

<footer class='px-0 pt-12 text-base'>
	<span>&copy; {today.getFullYear()} •</span>
	<span> Edoardo Baldi</span>
</footer>

<style>
	footer span {
		@apply inline-block mt-0 mr-1 mb-0 ml-0;
	}
</style>

{enableAnalytics && <script>console.log('Analytics enabled');</script>}
